@page
@model RestaurantManagement.Pages.Payments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Payment_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Payment_Method)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Cashier_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment[0].Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Payment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Payment_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment_Method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cashier_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Order_ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Payment_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Payment_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Payment_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
