@page
@model RestaurantManagement.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Order_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Total_Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Table)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Table.Table_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Order_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Order_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Order_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
